[access "refs/*"]
	owner = group user/aways
[access "refs/for/refs/*"]
	read = group user/aways
	push = group user/aways
	label-Code-Review = -2..+2 group user/aways
	label-Verified = -1..+1 group user/aways
	rebase = group user/aways
	removeReviewer = group user/aways
	submit = group user/aways
[access "refs/heads/*"]
	read = group user/aways
	create = group user/aways
	push = +force group user/aways
	pushMerge = group user/aways
[access "refs/tags/*"]
	push = +force group user/aways
	pushTag = group user/aways
	pushSignedTag = group user/aways
